[MASTER]
init-hook='import sys; sys.path.append(".")'


[MESSAGES CONTROL]

disable=missing-docstring,
        duplicate-code,
        todo,
        fixme

[FORMAT]

max-line-length=120
good-names=i,e,id,f,x,y
